<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.applysolutions.mymediandroid"
    android:versionName="0.2.0.0">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="ch.applysolutions.mymediandroid.App"
        android:allowBackup="true"
        android:icon="@drawable/medifox_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity
            android:name="ch.applysolutions.mymediandroid.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.applysolutions.mymediandroid.ModificationsActivity"
            android:label="@string/title_activity_modifications"
            android:parentActivityName="ch.applysolutions.mymediandroid.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.applysolutions.mymediandroid.MainActivity" />
        </activity>
        <activity
            android:name="ch.applysolutions.mymediandroid.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="ch.applysolutions.mymediandroid.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.applysolutions.mymediandroid.MainActivity" />
        </activity>

        <receiver
            android:icon="@drawable/medifox_launcher"
            android:label="MyMedi Intake Widget"
            android:name="ch.applysolutions.mymediandroid.Widget.IntakeWidget" >
            <intent-filter >
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/provider" />
        </receiver>
    </application>

</manifest>
